@import "tailwindcss";

:root {
  --background: #f7f1eb;
  --foreground: #201c1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}